@font-face {
  font-family: 'mainFont';
  src: url(./fonts/Cuprum-VariableFont_wght.ttf)
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 30vh;
}

body {
  display: grid;
  grid-template-areas: "header"
      "content"
      "footer";

  font-family: 'mainFont';

  background-color: rgb(40, 40, 40);
}


a:link, a:visited, a:active {
  list-style: none;
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
}

/*

CABECERA

*/
header {
  grid-area: header;
  font-size: 15px;
  color: white;

  padding: 30px;
  display: flex;
  background: linear-gradient(to right, #161616, #2b2b2b);

  justify-content: space-between;
  align-items: center;
}


.itemList {
  font-size: 20px;
  padding: 20px;
}

.itemList:hover {
  /*border-radius: 10px;
  background-color: rgb(48, 152, 243);*/
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: left;
}



.itemList {
  position: relative;
  color: rgb(255, 255, 255);
}

.itemList:hover {
  color: rgb(255, 255, 255);
}

.itemList::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.itemList:hover::before {
  transform: scaleX(1);
}





#centrarCarrito{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.carrito {
  position: relative;
}

#contadorCarrito {
  padding-left: 3%;
  padding-right: 3%;
  font-size: 25px;
  color: white;
  background-color: rgb(248, 96, 79);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 80%;
}

.imgCarrito{
  width: 50px;
  height: 50px;
}

.firstComment{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.comment{
  color: white;
  padding: 10vh;
  padding-bottom: 0vh;
}

#logoReact{
  width: 30vh;
  height: 30vh;
}


.itemListContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  
}


.card{
  border-radius: 10px;
    border: 35px solid;
    border-color: black;
    border-width: 1px;
    color: white;

    height: 34rem;
    width: 32rem;
    overflow: hidden;
    margin: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    box-shadow: 10px 8px 5px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 10px 8px 5px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 8px 5px 6px rgba(0, 0, 0, 0.2);

    border: 1px solid rgba(255, 255, 255, 0.125);
}


.separador{
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 80%;
}
.cardTitle{
  padding: 2rem;
  overflow: hidden;
  color:white;
}

.cardImg{
  border-radius: 30%;
  width: 15rem;
  height: 15rem;
  justify-content: center;
  margin-bottom: 2%;
}

.cardDescription{
  color:gainsboro;
  overflow: hidden;
  width: 90%;
  height: 7.5rem;
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.qtyInput{
margin-left: 1rem;
margin-right: 1rem;
width: 30%;
height: 3rem;
background-color: transparent;
color:gainsboro;
border-color: gainsboro;
border-radius: 15%;
text-align: center;
}

.qtyButton{
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  color: white;
  border-color: white;
}

.qtyButton:hover{
  color: white;
  border-color: white;
}

.location{
  margin-top: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationTitle{
  color: white;
}

.locationMap{
  height: 700px;
}

.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;

}

button{margin-top: 2%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-color: burlywood;
  color: burlywood;
}


button:hover{
  cursor: pointer;
  background-color: grey;
  border-color: burlywood;
  color: burlywood;
}

legend,label{
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 50px;
}

input{
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.051);
  border-color: rgba(255, 255, 255, 0.644);
  color: white;
}


.formButton{
  width: 58%;
}
.formButton:hover{
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.753);
  background-color: rgba(255, 255, 255, 0.404);
  color: black;
}

textarea{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.051);
  border-color: rgba(255, 255, 255, 0.644);
  color: white;
}

.decreaseIncreaseButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}